@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One|Tillana:600');

.navlink {
  padding-left: 0.5rem;
}

.nav-initials {
  /* font-family: 'Racing Sans One', cursive; */
  font-size: 25px;
  font-family: 'Tillana', cursive;
}