.nav-link{
  border: none !important;
}

.nav-tabs{
  border-bottom: none !important;
  justify-content: center;
  padding-top: 20px
}

.tab-content{
  padding: 0px 35px 40px 35px;
}

.project-text-content {
  justify-content: center;
  width: 65%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}